.login{
  background-size: cover;                 
  background-repeat: no-repeat;             
  background-position: center center;
  padding: 30px;
  text-align: center;
}

h1 {
  color: #354bd7;
  border-radius: 30px;
  padding: 20px;
  font-size: 40px;
}

.nav-links {
  margin: 20px 0;
  font-size: 16px;
}

.nav-links a {
  color: rgb(21, 21, 68);
  text-decoration: none;
  margin: 0 10px;
  font-weight: 1000;
}

.registration-section {
  padding: 40px 20px;
}

.registration-section h1 {
  text-align: center;
  background-color: #1dabcf;
  color: white;
  padding: 20px;
  font-size: 32px;
  border-radius: 20px;
  margin-bottom: 30px;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .title{
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  background-clip: text;
  color: transparent;
}

main form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
main form input{
  max-width: 800;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 10px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.219);
}

main form .button-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

main form button{
  font-size: 1.2em;
  padding: 10px;
  cursor: pointer;
}

main form button:nth-child(1){
  background-color: var(--primary-color);
  color: white;
  border: 1px solid transparent;
  border-radius: 10px;
}

main form button:nth-child(2){
  background-color: var(--secondary-color);
  color: black;
  border: 1px solid transparent;
  border-radius: 10px;
}
footer {
  background: #2d4c41;
  color: white;
  padding: 40px 20px;
}

.footer-top {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}

.footer-top input {
  padding: 10px;
  width: 300px;
  border-radius: 25px 0 0 25px;
  border: none;
}

.footer-top button {
  background: var(--secondary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

.footer-cols {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

.footer-cols div {
  flex: 1;
  margin: 10px 30px;
}

footer h4, footer h3 {
  margin-bottom: 10px;
}

footer p {
  margin-bottom: 5px;
  font-size: 14px;
}

footer .copyright {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
}

main .error{
  max-width: 300px;
  width: 100%;
  color: red;
  display: flex;
  flex-direction: column;
  align-items: start;
}
main .success{
  color: green;
}

main .toast-bar{
  position: fixed;
  bottom: 10px;
  right: 10%;
}

main .toast-bar .toast{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  min-width: 100px;
  width: 100%;
  height: 60px;
  padding: 10px;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px black;
}

main .toast-bar .toast::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  animation: slide-left 1s linear forwards;
}

@keyframes slide-left {
  to {
    width: 0;
  }
}

main .toast-bar .error{
  background-color: rgba(255, 0, 0, 0.235);
  color: black;

}

main .toast-bar .error::after{
  background-color: red;
  color: black;
}

main .toast-bar .success{
  background-color: rgba(0, 128, 0, 0.585);
  color: white;
}

main .toast-bar .success::after{
  background-color: green;
}

 

